<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- indispensabile per far funzionare le media-queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>BLACK LIST</title>



    <!--font-family: 'Special Elite', cursive;  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">


    <!-- font-family: 'Homemade Apple', cursive; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">

    <!-- font-family: fontawesome -->
    <script src="https://kit.fontawesome.com/a19b158346.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- my-css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-media.css">

    <!-- vue.Js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="app">

        <section>
            <div id="main-container" class="container ">
                <div class="row position-relative">
                    <img id="death-note-bg" src="img/deathnote.png" class="position-absolute">
                    <div id="death-note-content" class="col-3 offset-1 ">
                        <!-- intercetta anche enter -->
                        <form action="" @submit.prevent="addNewEnemytoEnemies">
                            <!-- label/legend? -->
                            <h1 class="fs-3">who will be your next victim?</h1>

                            <div class="my-input-group text-end">

                                <label for="name" class="my-label text-start">name:
                                    <input id="name" type="text" class="my-form-control" name="name"
                                        v-model="newEnemy.name">
                                </label>

                                <label for="surname" class="my-label text-start">surname:
                                    <input id="surname" type="text" class="my-form-control " name="surname"
                                        v-model="newEnemy.surname">
                                </label>

                                <label for="timer" class="my-label text-start">death timer:
                                    <input id="timer" type="number" class="my-form-control " name="death-timer"
                                        v-model="newEnemy.deathTimer">
                                </label>

                                <label for="type" class="my-label text-start">death type:
                                    <input id="type" type="text" class="my-form-control" name="death-type"
                                        v-model="newEnemy.deathType">
                                </label>

                                <button class="my-btn">Add Victim</button>

                            </div>
                        </form>

                        <div id="enemies-list-container">
                            <ul class="enemies list-group">
                                <!-- ciclo -->
                                <li class="enemy my-list-group-item d-flex  bg-transparent"
                                    v-for="(enemy,i) in enemies">
                                    <!-- done -->
                                    <input class="my-form-check-input me-3" type="checkbox" role="switch"
                                        v-model="enemy.done">

                                    <i class="fa-solid fa-check" @click="enemyDoneSwitch(enemy)"></i>
                                    <!-- testo -->

                                    <div class="flex-fill">

                                        <div class="complete-name  text-capitalize"
                                            :class="enemy.done ? 'text-decoration-line-through':''"
                                            @click="enemyDoneSwitch(enemy)">
                                            {{`${enemy.name} ${enemy.surname}`}}</div>

                                        <div class="deth-timer deth-type">
                                            {{ enemy.done ? enemy.deathType: enemy.deathTimer}}</div>
                                    </div>

                                    <!-- cestino -->
                                    <button class="my-btn " @click="deleteEnemyOnBtnClick(i)"><i
                                            class="fa-solid fa-skull-crossbones"></i></button>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>





    </div>
    <script src="js/main.js"></script>
</body>

</html>